.bestdeals{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    .title{
        margin-bottom: 20px;
        text-align: center;
        h1{
            margin: 5px;
        }
        h3{
            margin: 0;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .col{
            text-align: center;
            background-color: #F7EFE5;
            margin: 10px;
            padding-top: 10px;
            border-radius: 10px;
            transition: 0.3s;
            &:hover{
                transform: scale(1.05);
            }
            p{  
                background-color: red;
                color: white;
                width: 100px;
                margin: auto;
            }
            .card{
                padding: 10px;
                p{
                    background-color: transparent;
                    color: black;
                    width: 100%;
                }
            }
        }
    }
    button{
        width: 80px;
        height: 30px;
        margin: auto;
        background-color: transparent;
        cursor: pointer;
        transition: 0.5s;
        border: none;
        border: 1px solid black;
        border-radius: 10px;
        p{
            margin: auto;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}

@media (max-width:768px){
    .hide{
        display: none;
    }
    .card{
        padding: 5px 10px;
    }
}