.bestdeals{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    .title{
        margin-bottom: 20px;
        text-align: center;
        h1{
            margin: 5px;
        }
        h3{
            margin: 0;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .col{
            text-align: center;
            p{  
                background-color: red;
                color: white;
                width: 100px;
                margin: auto;
            }
            .card{
                padding: 10px 15px;
                p{
                    background-color: transparent;
                    color: black;
                    width: 100%;
                }
            }
        }
    }
    button{
        width: 100px;
        height: 40px;
        margin: auto;
        background-color: transparent;
        cursor: pointer;
        border: none;
    }
}

@media (max-width:768px){
    .hide{
        display: none;
    }
    .card{
        padding: 5px 10px;
    }
}