.footer{
  .top-footer{
    font-size: 1.1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    width: 83%;
    margin: auto;
    padding: 15px 0;

    @media (max-width:768px){
      text-align: center;
      justify-content: center;
      gap: 15px;
    }
    .customer-care{
      h4{
        margin: 0;
      }
      ul{
        padding: 0;
        li{
          list-style: none;
          margin: 10px 0;
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .contact{
      h4{
        margin: 0;
      }
      ul{
        padding: 0;
      li{
          list-style: none;
          margin: 10px 0;
        }
      }
    }
    .qrcode{
      h4{
        margin: 0 0 20px 0;
      }
      .qr-img{
        img{
          width: 140px;
        }
      }
    }
  }

  .middle-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .payment{
      h4{
        margin: 20px 0;
      }
      .imgs{
        img{
          width: 60px;
          padding: 0 10px 0 0;
          @media (max-width:768px){
            width: 45px;
          }
        }
      }
    }
    .follow{
      img{
        width: 40px;
        margin: 5px;
        @media (max-width:768px){
          width: 30px;
        }
      }
    }
  }

  .btn-footer{
    text-align: center;
    padding: 10px;
  }
}