.item-1{
    grid-area: item-1;
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}
.member{
    display: grid;
    grid-template:
    'item-1 item-2 item-3'
    'item-1 item-2 item-3'
    'item-1 item-2 item-4'
    'item-1 item-2 item-4'
    ;
    height: 500px;
    width: 90%;
    margin: 50px auto;

    .box{
        margin: 5px;
        border-radius: 5px;
        background-color: gray;
        .items-1{
            text-align: left;
            margin: 300px auto auto 50px;
        }
    }
}