.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% - 100px); // Adjust width to accommodate buttons
    margin: 0 auto; // Center the slider horizontally
    .slider-item {
      text-align: center;
      .card {
        margin: 10px 30px;
        .img{
          transition: 0.3s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .next {
    width: 50px;
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    height: 120px;
    background-color: gray;
    opacity: 0.5;
    border: none;
    border-radius: 7px;
    top: 37%;
    transition: 0.3s;
    transform: translateY(-50%);
    @media (max-width: 768px) {
      height: 80px;
      width: 40px;
    }
    &:hover {
      background-color: darkgray;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .next {
    right: 20px;
  }
}
