// Navbar
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    .logo{
        padding-left: 100px;
        @media (max-width:768px){
            padding-left: 30px;
        }
        p{
            color: white;
        }
    }
    .nav{
        padding-right: 100px;
        @media (max-width:768px){
            padding-right: 30px;
        }
        ul{
            display: flex;
            flex-direction: row;
            li{
                list-style: none;
                padding-left: 20px;
                color: white;
            }
        }
    }
}